/* Make all text in the filters card smaller */
#filters {
    font-size: 0.93em;
}
#filters .btn {
    font-size: 0.95em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#filters.card {
    padding-left: 0.2rem;
    padding-right: 0.5rem;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
}

/* .share-link-btn .share-link-text {
    text-decoration: none;
    color: #0d6efd;
    transition: text-decoration 0.2s;
}
.share-link-btn:hover .share-link-text,
.share-link-btn:focus .share-link-text {
    text-decoration: underline;
} */