body {
    font-family: 'Montserrat', Arial, sans-serif;
}

#filters {
    font-size: 0.93em;
}
#filters .btn {
    font-size: 0.95em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#filters.card {
    padding-left: 0.2rem;
    padding-right: 0.5rem;
}
.share-btn {
    color: #000;
    text-decoration: underline !important;
    text-underline-offset: 2px;
    font-size: 0.95em;
}

.share-btn:hover{
    color: #676767;
}

/* Shared styling for both dropdowns */
ul.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    z-index: 1000;
    border: none;
  }
  
  ul.suggestions li {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  ul.suggestions li:hover {
    background-color: #f8f9fa;
  }

  .custom-question-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #6c757d;
    border-radius: 100%;
    color: #92999e;
    background: transparent;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.2s, color 0.2s;
}
.custom-question-circle:hover, .custom-question-circle:focus {
    border-color: #495057;
    color: #495057;
}

.qm-small {
    font-size: 0.9em;
    line-height: 1;
  }

  .encircled-qm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    border: 0.95px solid #6c757d;
    border-radius: 50%;
    color: #6c757d;
    background: #fff;
    font-size: 0.85em;
    font-weight: medium;
    margin-left: 0.3em;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.2s, color 0.2s;
}
.encircled-qm:hover, .encircled-qm:focus {
    border-color: #495057;
    color: #495057;
    background: #f8f9fa;
}